body{
    margin: 0px;
    background-color: #222831;
    color: #eeeeee;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.section{
    margin-bottom: 200px;
}

a{
    color: #00adb5;
    text-decoration: none;
}

a:hover{
    color: white;
}

.btn{
    background-color: #00adb5;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    display: inline inline-block;
}

h1{
    margin-bottom: 50px;
}

h2{
    color: #00adb5;
}

p{
    line-height: 1.5;
}
.intro{
    text-align: left;
}

.foto-profil{
    float: right;
    border-radius: 100%;
    margin-left: 30px;
}

.wrapper{
    width: 720px;
    padding-top: 225px;
    margin: 0 auto;
}

.title{
    font-size: 4.5rem;
    font-weight: bold;
    font-family: "caveat",cursive;
    display: block;
}

#attribute{
    position: absolute;
    left: 310px;
    top: 150px;
}

.ux-skill-img{
    float: left;
    margin-right: 30px;
}

.skill-row{
    text-align: left;
    margin-bottom: 100px;
}

.web-skill-img{
    float: right;
    margin-left: 30px;
}

.cta-text{
    width: 68%;
    margin: 0 auto 12px auto;
}

.footer{
    background-color: #393e46;
    padding: 30px 0 20px;
}

.social-links{
    margin: 0 12px 20px;
}

.footer-text{
    font-size: 14px;
    margin-top: 30px;
}